/* Sliding Subnav Styles */
ul#topnav {
	margin: 0; padding: 0;
	/*float: left;*/
	/*width: 990px;*/
	list-style: none;
	position: relative;
	font-size: 13px;
	 font-family: 'NeutraTextBold';
	text-transform:uppercase;
	font-weight:bold;
	z-index:999;
	/*background:url(images/topnav_s.gif) repeat-x;*/
}
ul#topnav li {
	float: left;
	height:44px;
	margin: 0; 
	padding: 0 1px 0 1px;
	background:url(../images/nav_dvder.png) right top no-repeat !important;
	/*border-right: 1px solid #555;*/
}
ul#topnav li a {
	padding: 0px 15px;
	display: block;
	color: #f0f0f0;
	text-decoration: none;
	height:44px;
	line-height:45px;
	font-weight:bold;
	/*background:none;*/
	__float:left;
}
ul#topnav li a.first {
	padding: 0px 15px;
	display: block;
	color: #000000;
	text-decoration: none;
	height:44px;
	line-height:45px;
	font-weight:bold;
	/*background:none;*/
	__float:left;
}
ul#topnav li a:hover{
	color: #f0f0f0;
	text-decoration:none;
	height:43px;
	line-height:45px;
	background:url(../images/nav-hover43.png) left top repeat-x transparent;
	font-weight:bold;
}
ul#topnav li a em:hover{
	text-decoration: underline;
}

ul#topnav li:hover { background: none; }
ul#topnav li span {
	height:37px;
	float: left;
	padding: 0;
	position: absolute;
	/*left: 0;*/ top:43px;
	display: none;
	/*width: 970px;*/
	/*width:100%;*/
	background: #626262;
	color: #fff;
	/*-moz-border-radius-bottomright: 5px;
	-khtml-border-radius-bottomright: 5px;
	-webkit-border-bottom-right-radius: 5px;
	-moz-border-radius-bottomleft: 5px;
	-khtml-border-radius-bottomleft: 5px;
	-webkit-border-bottom-left-radius: 5px;*/
}
ul#topnav li:hover span { display: block; __left:10px; }
ul#topnav li span a { 
	display: inline; margin:0 15px; padding:0px; __float:left;
	__width:auto; padding-left:14px;
	    height: 37px;
    line-height: 37px;
}
ul#topnav li span a:hover {
	text-decoration: none; border-bottom:solid 1px #898989; background:transparent;
	background:url(../images/arro.png) left center no-repeat;
	font-weight:bold;
	__float:left;
	__display:inline;
	height: 37px;
    line-height: 37px;
 }
/* End Sliding Subnav Styles */
