<!DOCTYPE html PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN">
      This is a script for Selenium used to verify the information stored
      into CiviCRM by Selenium script ../test_ubercart.html .
      For information about Selenium see
      http://seleniumhq.org/projects/core/reference.html
-->


<html>
  <head>
    <meta http-equiv="Content-Type" content="text/html; charset=iso-8859-15">
    <meta http-equiv="Cache-Control" content="no-cache">
    <title>Drupal Regression Tests</title>
  </head>
  <body>
    <table cellpadding="1" cellspacing="1" border="1">
      <thead>
	<tr><td colspan="3"><b>DharmaTech uc_civicrm module regression tests</b></td></tr>
      </thead>
      <tbody>

        <th colspan="3" align="left"><b>Log in as "root"</b></th>
        <tr>
          <td>setTimeout</td>
          <td>360000</td>
          <td></td>
        </tr>
        <tr>
          <td>open</td>
          <td>http://%client_host%%client_url%</td>
          <td></td>
        </tr>
        <tr>
          <td>assertTextNotPresent</td>
          <td>Fatal error</td>
          <td></td>
        </tr>
        <tr>
          <td>assertTextNotPresent</td>
          <td>non-recoverable error</td>
          <td></td>
        </tr>
        <tr>
          <td>type</td>
          <td>edit-name</td>
          <td>root</td>
        </tr>
        <tr>
          <td>type</td>
          <td>edit-pass</td>
          <td>%root_pass%</td>
        </tr>
        <tr>
          <td>clickAndWait</td>
          <td>//input[@name='op' and @value='Log in']</td>
          <td></td>
        </tr>
        <tr>
          <td>assertTextNotPresent</td>
          <td>Fatal error</td>
          <td></td>
        </tr>
        <tr>
          <td>assertTextNotPresent</td>
          <td>non-recoverable error</td>
          <td></td>
        </tr>

        <th colspan="3" align="left"><b>Verify contact 1</b></th>
        <tr>
          <td>open</td>
          <td>http://%client_host%%client_url%/civicrm/contact/view?reset=1&cid=1</td>
          <td></td>
        </tr>
        <tr>
          <td>assertTextNotPresent</td>
          <td>Fatal error</td>
          <td></td>
        </tr>
        <tr>
          <td>assertTextNotPresent</td>
          <td>non-recoverable error</td>
          <td></td>
        </tr>
        <tr>
          <td>assertLocation</td>
          <td>http://%client_host%%client_url%/civicrm/contact/view?reset=1&cid=1</td>
          <td></td>
        </tr>
        <tr> <!--  Wait for Dojo to finish building tabs  -->
          <td>waitForElementPresent</td>
          <td>//li[@id='tab_activity']</td>
          <td></td>
        </tr>
        <tr>
          <td>verifyElementPresent</td>
          <td>//h2[contains(.,'Joe Blow')]</td>
          <td></td>
        </tr>
        <tr>
          <td>verifyElementPresent</td>
          <td>//a[.='joeblow@example.com']</td>
          <td></td>
        </tr>
        <tr>
          <td>verifyElementPresent</td>
          <td>//span[@class='street-address' and .='123 Main St.']</td>
          <td></td>
        </tr>
        <tr>
          <td>verifyElementPresent</td>
          <td>//span[@class='locality' and .='Almosta City']</td>
          <td></td>
        </tr>
        <tr>
          <td>verifyElementPresent</td>
          <td>//span[@class='region' and .='ID']</td>
          <td></td>
        </tr>
        <tr>
          <td>verifyElementPresent</td>
          <td>//span[@class='postal-code' and .='89123']</td>
          <td></td>
        </tr>
        <tr>
          <td>verifyTextPresent</td>
          <td>123-456-7890</td>
          <td></td>
        </tr>
        <tr>  <!--  Verify Purchase activity was recorded  -->
          <td>open</td>
          <td>http://%client_host%%client_url%/civicrm/contact/view/activity?reset=1&cid=1</td>
          <td></td>
        </tr>
        <tr>
          <td>assertTextNotPresent</td>
          <td>Fatal error</td>
          <td></td>
        </tr>
        <tr>
          <td>assertTextNotPresent</td>
          <td>non-recoverable error</td>
          <td></td>
        </tr>
        <tr>
          <td>assertLocation</td>
          <td>http://%client_host%%client_url%/civicrm/contact/view/activity?reset=1&cid=1</td>
          <td></td>
        </tr>
        <tr>
          <td>verifyElementPresent</td>
          <td>//td[.='Purchase']</td>
          <td></td>
        </tr>
        <tr>  <!--  Verify added to Purchasers group  -->
          <td>open</td>
          <td>http://%client_host%%client_url%/civicrm/contact/view/group?reset=1&cid=1</td>
          <td></td>
        </tr>
        <tr>
          <td>assertTextNotPresent</td>
          <td>Fatal error</td>
          <td></td>
        </tr>
        <tr>
          <td>assertTextNotPresent</td>
          <td>non-recoverable error</td>
          <td></td>
        </tr>
        <tr>
          <td>assertLocation</td>
          <td>http://%client_host%%client_url%/civicrm/contact/view/group?reset=1&cid=1</td>
          <td></td>
        </tr>
        <tr>
          <td>verifyElementPresent</td>
          <td>//a[.='Purchasers']</td>
          <td></td>
        </tr>

        <th colspan="3" align="left"><b>Log out as "root"</b></th>
        <tr>
          <td>clickAndWait</td>
          <td>link=Log out</td>
          <td></td>
        </tr>
        <tr>
          <td>assertTextNotPresent</td>
          <td>Fatal error</td>
          <td></td>
        </tr>
        <tr>
          <td>assertElementNotPresent</td>
          <td>//div[contains(@class,'error')]</td>
          <td></td>
        </tr>

      </tbody>
    </table>
  </body>
</html>
